@model ProductViewModel
<tr>
    <td class="text-nowrap">@Model.Name</td>
    <td class="text-nowrap">@Model.CategoryName</td>
    <td class="text-nowrap">@Model.StartDate</td>
    <td class="text-nowrap">@Model.Duration</td>
    <td class="text-nowrap ">
        <span class="js-status badge text-bg-@(Model.IsDeleted ? "danger" : "success")">
            @(Model.IsDeleted ? "Deleted" : "Avilable")
        </span>
    </td>
    <td class="text-nowrap">
        <span class="js-availability badge text-bg-@(Model.Availability ?"warning" : "danger" )">
            @(Model.Availability ? "Supposed to show" : "Not supposed to show")
        </span>
    </td>
    <td class="text-nowrap">@Model.CreatedBy</td>
    <td class="text-nowrap">@Model.CreatedOn</td>
    <td class="text-nowrap js-lastUpdatedBy">@Model.LastUpdatedBy</td>
    <td class="text-nowrap js-lastUpdatedOn">@Model.LastUpdatedOn</td>
    <td class="text-nowrap">@Model.Price</td>
    <td>
        <a href="javascript:;" class="menu-link px-3 js-render-modal"
           data-title="Edit Product"
           data-url="/Products/Edit?key=@Model.Key"
           data-update="true">
            <i class="fa-solid fa-pen-to-square text-success mx-2"> </i>
        </a>
        <a href="javascript:;" class="menu-link flex-stack px-3 js-toggle-status"
           data-url="/Products/ToggleStatus?key=@Model.Key" data-key="@Model.Key">
            <i class="fa-solid fa-trash text-danger"></i>  
        </a>
    </td>
</tr>